{% extends "base.html" %}
{% block title %} Filter {% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/filter.js') }}"></script>
{%  endblock %}
{% block style %}
	li {
		list-style-type: none;
	}
	ul.ulclass {
		padding: 0;
	}
{% endblock %}
{% block script %}
  var main = document.getElementById("spec");
  // 1. reset supers
  var sups = main.querySelectorAll("input:not([parent])");
  for(var i = 0; i < sups.length; i++) {
    updateParent(sups[i]);
    sups[i].addEventListener('change', onParentSet);
    //parent.addEventListener('click', function(e) { e.preventDefault(); });
  }
  // 2. assign subs
  var subs = main.querySelectorAll("input[parent]");
  for(var i = 0; i < subs.length; i++) {
    subs[i].addEventListener('change', onChildSet);
  }

  function onParentSet() {
  	//console.log("checked = " + this.checked);
  	var ul = main.querySelector("ul[name=" + this.id + "]");
    var children = ul.querySelectorAll("input[parent=" + this.id + "]");
    for(var i = 0; i < children.length; i++) {
      children[i].checked = this.checked;
    }
  }

  function onChildSet() {
    updateParent(document.getElementById(this.getAttribute('parent')));
  }

  function updateParent(parent) {
  	var ul = main.querySelector("ul[name=" + parent.id + "]");
    var children = ul.querySelectorAll("input[parent=" + parent.id + "]");
    var checkedCount = 0;
    for(var i = 0; i < children.length; i++) {
      if(children[i].checked) {
        checkedCount++;
      }
    }
    //console.log('Checked=' + checkedCount + '/' + children.length);
    if(checkedCount === 0) {
      parent.checked = false;
      parent.indeterminate = false;
    } else if(checkedCount === children.length) {
      parent.checked = true;
      parent.indeterminate = false;
    } else {
      parent.checked = false;
      parent.indeterminate = true;
    }
  }
{% endblock %}
{% block body %}
	<!-- TODO: fieldset > legend + field -->
	<p> Filter <p>
	<p><a href="{{ url_for('index') }}"> Home </a></p>
	<form action="" method="post" novalidate="">
		{{ form.csrf_token() }}
		<p><input id="submit" name="submit" type="submit" value="Apply"></p>
		<table border="1">
			<tbody>
			{% for field in form if field.name != "csrf_token" %}
			<tr>
				<th valign="top">{{ field.label() }}</th>
				<td>
					<p>{{ field }}</p>
				    {% for error in field.errors %}
						{{ error }}<br/>
				    {% endfor %}
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
		<p><input id="submit" name="submit" type="submit" value="Apply"></p>
	</form>
{% endblock %}
